$primary-color:#80BF43;
$bg-color:#FFFFFF;
$text-color:#969BAB;
$heading-color:#18191F;
$border-color:#d7d8db;
$height:72px;
$shodowcolor:1px 0px 21px #5c5cec 0.1;
// $box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$margin-left: 165px;
$span:$primary-color;
$p-color:#969BAB;
$box-shadow: 0px 10px 25px 3px rgba(41, 41, 42, 0.1);